{{define "walletIcons"}}
<span data-state="sleeping" class="ico-sleeping grey d-hide"></span>
<span data-state="locked" class="ico-locked grey d-hide"></span>
<span data-state="unlocked" class="ico-unlocked d-hide"></span>
<span data-state="syncing" class="ico-sync fs12 d-hide" data-tooltip="placeholder text"></span>
<span data-state="nopeers" class="ico-disconnected fs12 d-hide" data-tooltip="no peers!"></span>
<span data-state="nowallet"></span> {{/* not showing ico-cross */}}
<span data-state="disabled" class="ico-cross text-danger d-hide" data-tooltip="placeholder text"></span>
{{end}}

{{define "markets"}}
{{template "top" .}}
<div id="main" data-handler="markets" class="main m-0 flex-nowrap">
  {{- /* MARKET LIST */ -}}
  <section id="leftMarketDock" class="section flex-column align-items-end default">
    <div class="h-100 flex-stretch-column">

      <div class="d-flex align-items-stretch border-bottom" id="searchBoxV1">
        <div class="flex-grow-1 p-1 position-relative">
          <input type="text" id="marketSearchV1"  placeholder=" " spellcheck="false" class="my-1">
          <div class="ico-search fs22"></div>
        </div>
        <div id="leftHider" class="flex-center pointer hoverbg border-start px-2">
          <span class="ico-arrowleft d-inline-block fs24">
        </div>
      </div>

      <div class="flex-grow-1 overflow-y-hidden">
        <div id="marketListV1" class="stylish-overflow hoveronly overflow-x-hidden flex-stretch-column">

          <div id="marketTmplV1" class="d-flex align-items-stretch p-2 border-bottom lh1 pointer hoverbg">
            <div class="d-flex flex-column">
              <div class="d-flex align-items-start justify-content-start flex-grow-1">
                <img data-tmpl="baseIcon" class="mini-icon">
                <img data-tmpl="quoteIcon" class="mini-icon ms-1">
                <span class="text-danger ico-disconnected d-hide ps-1" data-tmpl="disconnectedIco"></span>
              </div>
              <div class="fs10 demi text-start text-nowrap dexname" data-tmpl="host"></div>
            </div>
            <div class="d-flex flex-column pe-4 ps-2 flex-grow-1">
              <span class="fs17 demi">
                <span data-tmpl="baseSymbol"></span>-<span data-tmpl="quoteSymbol"></span>
              </span>
              <span class="fs15 grey" data-tmpl="baseName"></span>
            </div>
            <div class="d-flex flex-column align-items-end ps-3">
              <span data-tmpl="price" class="fs17">-</span>
              <span data-tmpl="change" class="fs15">-</span>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <div id="marketReopener" class="flex-center pointer hoverbg border-bottom border-end border-top">
    <span class="ico-arrowright d-inline-block fs24">
  </div>

  {{- /* MAIN CONTENT */ -}}
  <div class="flex-grow-1 position-relative">
    <div class="stylish-overflow h-100 w-100 overflow-x-hidden flex-stretch-column">

      {{- /* MARKET STATS - SMALL SCREENS */ -}}
      <div id="marketStats" class="market-stats align-items-center justify-content-center p-2 flex-wrap border-bottom">
        <div class="flex-center p-2 pointer hoverbg" data-tmpl="marketSelect">
          <div class="flex-center">
            <img class="medium-icon" data-tmpl="baseIcon">
            <img class="medium-icon ms-1" data-tmpl="quoteIcon">
          </div>
          <div class="flex-center fs24 demi ms-2">
            <span data-tmpl="baseSymbol"></span>-<span data-tmpl="quoteSymbol"></span>
          </div>
          <span class="ico-arrowdown fs18 grey ms-1"></span>
          <span class="ico-arrowup fs18 grey ms-1"></span>
        </div>
  
        <div class="d-flex flex-column">
          <span class="fs15 grey">[[[:title:price]]]</span>
          <div class="flex-center me-2">
            <span data-tmpl="price"></span>
            <div data-tmpl="change" class="ms-2"></div>
          </div>
        </div>

        <div class="statgrid">
          <span class="fs15 grey border-bottom border-start ps-2 pe-4">[[[volume_24]]]</span>
          <span class="fs15 grey border-bottom ps-2 pe-4">[[[High]]]</span>
          <span class="fs15 grey border-bottom ps-2">[[[Low]]]</span>
          <div class="d-flex align-items-end border-start ps-2 pe-4">
            <div data-tmpl="volume">-</div>
            <div data-tmpl="volUnit" class="fs14 grey ms-1">USD</div>
          </div>
          <div class="ps-2 pe-4" data-tmpl="high">-</div>
          <div class="ps-2" data-tmpl="low">-</div>
        </div>
      </div>

      <div class="flex-grow-1 position-relative">
        <div id="mainContent">

          {{- /* ORDER BOOK */ -}}
          <section class="d-flex flex-column orderbook">
            <div class="stylish-overflow hoveronly overflow-x-hidden flex-grow-1 ordertable-wrap reversible">

              {{- /* SELL ORDER LIST */ -}}
              <table class="compact row-hover lh1 fs15">
                <tbody id="sellRows"></tbody>
              </table>
            </div>

            <div class="border-top border-bottom p-2 flex-center fs15">
              <span class="flex-grow-1">Order Book</span>
              <span class="flex-center">
                <span id="obUp" class="ico-arrowup buycolor fs11"></span>
                <span id="obDown" class="ico-arrowdown sellcolor fs11 d-hide"></span>
                <span id="obPrice" class="buycolor ms-1"></span>
              </span>
            </div>

            <div class="stylish-overflow hoveronly overflow-x-hidden flex-grow-1 ordertable-wrap">

              {{- /* BUY ORDER LIST */ -}}
              <table class="compact row-hover buys lh1 fs15">
                <tbody id="buyRows">
                  {{- /* This row is used by the app as a template. */ -}}
                  <tr id="orderRowTmpl" class="px-2 w-100">
                    <td class="pe-2 w-100">
                      <div class="d-flex justify-content-start align-items-center">
                        <div data-tmpl="qty">-</div>
                        <small class="numorders lh1 rounded3 text-center ms-2" data-tmpl="numOrders">-</small>
                      </div>
                    </td>
                    <td class="text-end text-nowrap ps-2">
                      <span class="text-end ico-check fs13 pe-1 d-hide" data-tmpl="epoch"></span>
                      <span class="text-end ico-own-book-order fs13 pe-1 d-hide" data-tmpl="ownBookOrder"></span>
                      <span data-tmpl="rate">-</span>
                    </td>
                  </tr>
                </tbody>
              </table> {{- /* END BUY ORDER LIST */ -}}
            </div>
          </section> {{- /* END ORDER BOOK */ -}}

          {{- /* CHARTS */ -}}
          <div class="d-flex flex-grow-1 position-relative w-100 w-lg-auto">
            <div class="fill-abs flex-stretch-column">
              <section class="flex-grow-1 flex-stretch-column position-relative">
                <div id="candlesChart" class="market-chart">
                  <div id="durBttnBox"><button class="candle-dur-bttn border rounded3" id="durBttnTemplate"></button></div>
                </div>
                <div id="chartErrMsg" class="position-absolute w-100 d-inline-flex text-danger p-2 "></div>
                <div id="candlesLegend" class="grey p-1 d-hide border-bottom border-start">
                  <div class="flex-grow-1">
                    <div class="d-flex align-items-center">
                      <span class="ico-target fs11 me-1"></span>
                      <span>
                        S: <span id="candleStart"></span>,
                        E: <span id="candleEnd"></span>,
                        L: <span id="candleLow"></span>,
                        H: <span id="candleHigh"></span>,
                        V: <span id="candleVol"></span>
                      </span>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>

          {{- /* ORDER FORM */ -}}
          <section class="order-panel pb-3 position-relative">
            <div id="orderScroller" class="flex-stretch-column w-100">

              {{- /* TOKEN APPROVAL */ -}}
              <div class="fs15 pt-1 pb-3 text-center border-bottom d-hide" id="tokenApproval">
                <span class="p-3 flex-center fs16 grey d-hide" id="approvalRequiredBuy">[[[approval_required_buy]]]</span>
                <span class="p-3 flex-center fs16 grey d-hide" id="approvalRequiredSell">[[[approval_required_sell]]]</span>
                <span class="p-3 flex-center fs16 grey d-hide" id="approvalRequiredBoth">[[[approval_required_both]]]</span>
                <button id="approveBaseBttn" type="button" class="go">[[[Approve]]] <span id="baseTokenAsset"></span></button>
                <div id="approvalPendingBase" class="d-hide flex-center position-relative py-2">
                  <span class="px-1" id="approvalPendingBaseSymbol"></span> [[[approval_change_pending]]] <div class="px-2 ico-spinner spinner fs15"></div>
                </div>
                <button id="approveQuoteBttn" type="button" class="go">[[[Approve]]] <span id="quoteTokenAsset"></span></button>
                <div id="approvalPendingQuote" class="d-hide flex-center position-relative py-2">
                  <span class="px-1" id="approvalPendingQuoteSymbol"></span> [[[approval_change_pending]]] <div class="px-2 ico-spinner spinner fs15"></div>
                </div>
              </div>

              <div class="fs15 pt-3 text-center d-hide" id="loaderMsg"></div>

              {{- /* CREATE ACCOUNT TO TRADE */ -}}
              <div id="notRegistered" class="d-hide">
                <div class="p-3 flex-center fs16 grey">[[[create_account_to_trade]]]</div>
                <div class="border-top border-bottom flex-center p-2">
                  <p class="text-center fs14 p-2 m-0">[[[need_to_register_msg]]]</p>
                  <button data-tmpl="registerBttn" type="button" class="text-nowrap">[[[Create Account]]]</button>
                </div>
              </div>

              {{- /* BOND CREATION PENDING */ -}}
              <div class="d-hide p-2 mt-2" id="bondCreationPending">
                <div class="p-0 w-100">
                  <div class="d-flex flex-column justify-content-center align-items-center">
                    <p class="title">[[[posting_bonds_shortly]]]</p>
                    <p>[[[bond_creation_pending_msg]]]</p>
                  </div>
                </div>
              </div>

              {{- /* REGISTRATION STATUS */ -}}
              <div class="d-hide p-2 mt-2" id="registrationStatus">
                <div class="p-0 w-100">
                  <div class="d-flex flex-column justify-content-center align-items-center">
                    <span id="regStatusTitle" class="title"></span>
                    <p id="regStatusMessage">[[[reg_status_msg]]]
                    </p>
                    <span id="regStatusConfsDisplay"></span>
                  </div>
                </div>
              </div>

              {{- /* BOND REQUIRED TO TRADE */ -}}
              <div class="d-hide p-2 mt-2" id="bondRequired">
                <div class="p-3 flex-center fs16 grey">[[[action_required_to_trade]]]</div>
                <div class="border-top border-bottom flex-center p-2">
                  <p class="text-center fs14 p-2 m-0">
                  [[[acct_tier_post_bond]]]
                  <a id="dexSettingsLink" class="fs15 hoverbg subtlelink">[[[enable_bond_maintenance]]]</a>
                  </p>
                </div>
              </div>

              {{- /* MM RUNNING */ -}}
              <div class="d-hide fs15 flex-stretch-column border-bottom" id="mmRunning">
                <div class="flex-center my-2">
                  <span class="ico-robot fs35 me-2 text-buycolor"></span>
                  <span class="flex-center fs22">[[[market_making_running]]]</span>
                </div>
                {{template "runningBotDisplay"}}
                <span class="fs14 grey mt-2 p-2 border-top">[[[cannot_manually_trade]]]</span>
              </div>

              {{- /* BUY ORDER FORM */ -}}
              <div id="orderFormBuy" class="p-3 d-hide">
                <div id="limitOrderBoxBuy" class="d-flex flex-stretch-column">
                  <div class="d-flex justify-content-between m-1 fs14">
                    <div id="lotSizeBoxBuy">
                      [[[:title:lot_size]]]:
                      <span id="lotSizeBuy"></span>
                      <span data-base-ticker></span>
                    </div>
                    <div id="rateStepBoxBuy">
                      [[[Rate Step]]]:
                      <span id="rateStepBuy"></span>
                      <span data-unit="quote"></span>
                    </div>
                  </div>
                  {{- /* RATE AND QUANTITY INPUTS */ -}}
                  <div class="d-flex justify-content-between m-1 fs18" id="priceBoxBuy">
                    <label for="rateField" class="form-label col-6 d-flex align-items-center p-0">Price:</label>
                    <div class="col-18 p-0 position-relative">
                      <input type="number" class="form-control select bg1" id="rateFieldBuy">
                      <span class="unitbox"><span class="unit" data-unit="quote"></span>/<span class="unit" data-base-ticker></span></span>
                    </div>
                  </div>
                  <div class="d-flex justify-content-between m-1 fs18" id="qtyBoxBuy">
                    <label for="qtyFieldBuy" class="form-label col-6 d-flex align-items-center p-0">Quantity:</label>
                    <div class="col-6 p-0 position-relative d-hide">
                      <input type="number" class="form-control select bg1" id="lotFieldBuy">
                      <span class="unit unitbox">[[[:title:lots]]]</span>
                    </div>
                    <div class="col-11 p-0 position-relative">
                      <input type="number" class="form-control select bg1" id="qtyFieldBuy">
                      <span class="unit unitbox" data-base-ticker></span>
                    </div>
                  </div>
                  <div id="qtySliderBuy" class="mini-slider mt-1 mx-1"></div>

                  {{- /* SUBMIT ORDER BOX */ -}}
                  <div class="d-flex justify-content-center m-1" id="submitOrderBox">
                    <div id="orderTotalPreviewBuyLeft" class="flex-center text-center mx-2 fs18"></div>
                    <span class="flex-center text-center mx-2 fs24">⇄</span>
                    <div id="orderTotalPreviewBuyRight" class="flex-center text-center mx-2 fs18"></div>
                  </div>
                  <button id="submitBttnBuy" type="button" class="flex-center border pointer hoverbg rounded3 m-1 submit fs18 text-center buygreen-bg"></button> {{/* textContent set by script */}}

                  {{- /* SUBMIT ORDER ERRORS */ -}}
                  <div class="m-1 fs16 pt-3 text-center d-hide text-danger text-break" id="orderErrBuy"></div>
                </div>
              </div>

              {{- /* SELL ORDER FORM */ -}}
              <div id="orderFormSell" class="p-3 d-hide">
                <div id="limitOrderBoxSell" class="d-flex flex-stretch-column">
                  <div class="d-flex justify-content-between m-1 fs14">
                    <div id="lotSizeBoxSell">
                      [[[:title:lot_size]]]:
                      <span id="lotSizeSell"></span>
                      <span data-base-ticker></span>
                    </div>
                    <div id="rateStepBoxSell">
                      [[[Rate Step]]]:
                      <span id="rateStepSell"></span>
                      <span data-unit="quote"></span>
                    </div>
                  </div>
                  {{- /* RATE AND QUANTITY INPUTS */ -}}
                  <div class="d-flex justify-content-between m-1 fs18" id="priceBoxSell">
                    <label for="rateField" class="form-label col-6 d-flex align-items-center p-0">Price:</label>
                    <div class="col-18 p-0 position-relative">
                      <input type="number" class="form-control select bg1" id="rateFieldSell">
                      <span class="unitbox"><span class="unit" data-unit="quote"></span>/<span class="unit" data-base-ticker></span></span>
                    </div>
                  </div>
                  <div class="d-flex justify-content-between m-1 fs18" id="qtyBoxSell">
                    <label for="qtyFieldSell" class="form-label col-6 d-flex align-items-center p-0">Quantity:</label>
                    <div class="col-6 p-0 position-relative d-hide">
                      <input type="number" class="form-control select bg1" id="lotFieldSell">
                      <span class="unit unitbox">[[[:title:lots]]]</span>
                    </div>
                    <div class="col-11 p-0 position-relative">
                      <input type="number" class="form-control select bg1" id="qtyFieldSell">
                      <span class="unit unitbox" data-base-ticker></span>
                    </div>
                  </div>
                  <div id="qtySliderSell" class="mini-slider mt-1 mx-1"></div>

                  {{- /* SUBMIT ORDER BOX */ -}}
                  <div class="d-flex justify-content-center m-1" id="submitOrderBox">
                    <div id="orderTotalPreviewSellLeft" class="flex-center text-center mx-2 fs18"></div>
                    <span class="flex-center text-center mx-2 fs24">⇄</span>
                    <div id="orderTotalPreviewSellRight" class="flex-center text-center mx-2 fs18"></div>
                  </div>
                  <button id="submitBttnSell" type="button" class="flex-center border pointer hoverbg rounded3 m-1 submit fs18 text-center sellred-bg"></button> {{/* textContent set by script */}}

                  {{- /* SUBMIT ORDER ERRORS */ -}}
                  <div class="m-1 fs16 pt-3 text-center d-hide text-danger text-break" id="orderErrSell"></div>
                </div>
              </div>

              {{- /* WALLET RELATED ERRORS */ -}}
              <div id="noWallet" class="p-3 border-bottom flex-center fs16 grey d-hide"></div>

              {{- /* ORDER LIMITS */ -}}
              <div class="mt-2 p-2 text-center border fs17">
                [[[order_form_remaining_limit]]]
              </div>
              {{- /* REPUTATION */ -}}
              <div id="reputationAndTradingTierBox">
                <div id="showTradingTier" class="p-2 grey fs15 hoverbg pointer">
                  <span class="ico-plus fs10 me-2"></span>
                  <span>[[[Show trading tier info]]]</span>
                </div>
                <div id="hideTradingTier" class="p-2 grey fs15 hoverbg pointer d-hide">
                  <span class="ico-minus fs10 me-2"></span>
                  <span>[[[Hide trading tier info]]]</span>
                </div>
                <div id="tradingLimits" class="d-flex align-items-stretch fs15 mx-2 mb-2 border d-hide">
                  <div class="d-flex flex-column flex-grow-1 align-items-stretch p-2">

                    <div class="d-flex justify-content-between align-items-center">
                      <span>[[[Parcel Size]]]</span>
                      <span>
                        <span id="parcelSizeLots"></span> <span>[[[lots]]]</span>
                      </span>
                    </div>

                    <div class="d-flex justify-content-between align-items-center">
                      <span><!-- Parcel Size Base --></span>
                      <span>
                        <span id="marketLimitBase"></span> <span id="marketLimitBaseUnit"></span>
                      </span>
                    </div>

                    <div class="d-flex justify-content-between align-items-center">
                      <span><!-- Parcel Size Quote --></span>
                      <span>
                        ~ <span id="marketLimitQuote"></span> <span id="marketLimitQuoteUnit"></span>
                      </span>
                    </div>

                  </div>
                  <div class="d-flex flex-column flex-grow-1 align-items-stretch p-2 border-start">

                    <div class="d-flex justify-content-between align-items-center">
                      <span>[[[Trading Tier]]]</span>
                      <span id="tradingTier"></span>
                    </div>

                    <div class="d-flex justify-content-between align-items-center">
                      <span>[[[Trading Limit]]]</span>
                      <span><span id="tradingLimit"></span> lots</span>
                    </div>

                    <div class="d-flex justify-content-between align-items-center">
                      <span>[[[Current Usage]]]</span>
                      <span><span id="limitUsage"></span>%</span>
                    </div>

                  </div>
                </div>
                <div id="showTradingReputation" class="p-2 grey fs15 hoverbg pointer">
                  <span class="ico-plus fs10 me-2"></span>
                  <span>[[[Show reputation]]]</span>
                </div>
                <div id="hideTradingReputation" class="p-2 grey fs15 hoverbg pointer d-hide">
                  <span class="ico-minus fs10 me-2"></span>
                  <span>[[[Hide reputation]]]</span>
                </div>
                <div id="reputationMeter" class="px-3 mb-3 border-bottom d-hide">
                  {{template "reputationMeter"}}
                </div>
              </div>

              {{- /* USER ORDERS */ -}}
              <div class="text-center fs20 mb-2">
                [[[Your Orders]]]
              </div>
              <div id="unreadyOrdersMsg" class="d-hide px-3 py-1 flex-center fs16 text-danger">[[[unready_wallets_msg]]]</div>
              <div id="userNoOrders" class="p-3 flex-center fs16 grey">no active orders</div>
              <div id="userOrders" class="border-bottom">
                <div id="userOrderTmpl" class="user-order border-top">
                  <div data-tmpl="header" class="user-order-header pointer">
                    <div data-tmpl="sideLight" class="side-indicator"></div>
                    <span data-tmpl="side"></span>
                    <span data-tmpl="qty" class="ms-1"></span>
                    <span data-tmpl="baseSymbol" class="ms-1 grey"></span>
                    <span class="ms-1">@</span>
                    <span data-tmpl="rate" class="ms-1"></span>
                    <span class="flex-grow-1 d-flex align-items-center justify-content-end">
                      <span data-tmpl="status"></span>
                      <span data-tmpl="activeLight" class="active-indicator active"></span>
                    </span>
                    <!-- <span class="fs11 ico-open ms-2"></span> -->
                  </div>
                  <div data-tmpl="details" class="order-details border-top border-bottom d-hide">
                    <div class="user-order-datum full-span d-flex flex-row justify-content-start align-items-center border-bottom fs14">
                      <span data-tmpl="accelerateBttn" class="ico-rocket pointer hoverbg d-hide py-2 px-3 me-1" data-tooltip="[[[accelerate_order]]]"></span>
                      <span data-tmpl="cancelBttn" class="ico-cross pointer hoverbg fs11 d-hide py-2 px-3 mx-1" data-tooltip="[[[cancel_order]]]"></span>
                      <a data-tmpl="link" class="ico-open pointer hoverbg fs13 plainlink py-2 px-3 ms-1" data-tooltip="[[[order details]]]"></a>
                    </div>
                    <div class="user-order-datum">
                      <span>[[[Type]]]</span>
                      <span data-tmpl="type"></span>
                    </div>
                    <div class="user-order-datum">
                      <span>[[[Side]]]</span>
                      <span data-tmpl="side"></span>
                    </div>
                    <div class="user-order-datum">
                      <span>[[[Status]]]</span>
                      <span data-tmpl="status"></span>
                    </div>
                    <div class="user-order-datum">
                      <span>[[[Age]]]</span>
                      <span data-tmpl="age"></span>
                    </div>
                    <div class="user-order-datum">
                      <span>[[[Quantity]]]</span>
                      <span data-tmpl="qty"></span>
                    </div>
                    <div class="user-order-datum">
                      <span>[[[Rate]]]</span>
                      <span data-tmpl="rate"></span>
                    </div>
                    <div class="user-order-datum">
                      <span>[[[Filled]]]</span>
                      <span data-tmpl="filled"></span>
                    </div>
                    <div class="user-order-datum">
                      <span>[[[Settled]]]</span>
                      <span data-tmpl="settled"></span>
                    </div>
                  </div>
                </div>
              </div>{{- /* END USER ORDERS */ -}}

              {{- /* RECENT MATCHES */ -}}
              <div id=recentMatchesBox  class="flex-stretch-column pb-4 border-top">
                <div class="text-center fs20 my-3">[[[Recent Matches]]]</div>
                <table id="recentMatchesTable" class="row-border row-hover lh1">
                  <thead>
                    <tr class="pointer">
                      <th data-ordercol="age" class="text-nowrap">[[[Age]]] <span class="ico-arrowdown"></span></th>
                      <th data-ordercol="rate" class="text-end pe-2 text-nowrap"><span class="ico-arrowdown"></span> [[[Rate]]]</th>
                      <th data-ordercol="qty" class="text-end text-nowrap"><span class="ico-arrowdown"></span> [[[Quantity]]]</th>
                    </tr>
                  </thead>
                  <tbody id="recentMatchesLiveList">
                    <tr id="recentMatchesTemplate">
                      <td data-tmpl="age"></td>
                      <td data-tmpl="rate" class="text-end pe-2"></td>
                      <td data-tmpl="qty" class="text-end"></td>
                    </tr>
                  </tbody>
                </table>
              </div>{{- /* END RECENT MATCHES */ -}}

            </div>
          </section>
        </div>
      </div>
    </div>
  </div>{{- /* END CONTENT */ -}}

  {{- /* POP-UP FORMS */ -}}
  <div id="forms" class="d-hide">

    {{- /* DEPOSIT ADDRESS */ -}}
    <form class="mw-425 d-hide" id="deposit">
      {{template "depositAddress"}}
    </form>

    {{- /* NEW WALLET */ -}}
    <form class="m-auto d-hide" id="newWalletForm" autocomplete="off">
      {{template "newWalletForm"}}
    </form>

    {{- /* TOGGLE WALLET STATUS AUTHORIZATION */ -}}
    <form class="d-hide" id="toggleWalletStatusConfirm">
      {{template "toggleWalletStatusConfirm"}}
    </form>

    {{- /* VERIFY FORM */ -}}
    <form class="position-relative d-hide" id="verifyForm" autocomplete="off">
      <div class="form-closer"><span class="ico-cross"></span></div>
      <header class="fs18 buygreen-bg" id="vHeader">
        <span id="vBuySell" class="me-2"></span> <span data-base-ticker></span>
      </header>
      <div class="d-flex justify-content-between align-items-center fs14">
        <span id="vOrderType" class="grey"></span>
        <span id="vOrderHost" class="grey"></span>
      </div>

      {{- /* Price, Spend, Get Section */ -}}
      <div id="verifyLimit">
        <div class="d-flex align-items-center justify-content-between">
          <span class="grey fs18 flex-grow-1 text-start">[[[:title:price]]]</span>
          <span id="vRate" class="fs18 demi"></span>
          <span class="grey fs18 ms-2">
            <sup data-quote-ticker></sup>/<sub data-base-ticker></sub>
          </span>
        </div>
        <div class="d-flex align-items-center mt-1">
          <span class="grey fs18 flex-grow-1 text-start">[[[You Spend]]]</span>
          <span id="youSpend" class="fs18 demi"></span>
          <span id="youSpendTicker" class="grey fs18 ms-2"></span>
        </div>
        <div class="d-flex align-items-center mt-1">
          <span class="grey fs18 flex-grow-1 text-start">[[[You Get]]]</span>
          <span id="youGet" class="fs18 demi"></span>
          <span id="youGetTicker" class="grey fs18 ms-2"></span>
        </div>
        <span class="d-flex d-hide justify-content-end grey fs14">
        ~<span id="vFiatTotal" class="mx-1"></span>USD
        </span>
      </div>

      <div class="flex-stretch-column">
        <button id="vSubmit" class="justify-content-center fs18 go sellred-bg">
          <span id="vSideSubmit"></span>
          <span data-base-ticker></span>
        </button>
        <div id="vLoader" class="loader flex-center d-hide">
          <div class="ico-spinner spinner"></div>
        </div>
      </div>

      <div class="fs16 p-3 text-center d-hide text-danger text-break" id="vErr"></div>{{- /* End Auth Section */ -}}

      <div id="disclaimer" class="disclaimer fs16 pt-3 mt-3 border-top">
        [[[order_disclaimer]]]
      </div>
      <div id="disclaimerAck" class="d-flex align-items-center grey text-center pointer hoverbg fs16 lh1">
        <span class="ico-check fs12"></span>
        <span>[[[acknowledge_and_hide]]]</span>
      </div>
      <div id="showDisclaimer" class="d-flex align-items-center grey text-center pointer hoverbg fs16 lh1 d-hide">
        <span class="fs8 ico-plus me-1 mt-1"></span>
        <span>[[[show_disclaimer]]]</span>
      </div>
    </form>

    <form id="approveTokenForm" class="position-relative flex-center flex-column fs20 d-hide">
      {{template "tokenApprovalForm"}}
    </form>

    {{- /* CANCEL ORDER FORM */ -}}
    <form class="d-hide" id="cancelForm" autocomplete="off">
      {{template "cancelOrderForm" .}}
    </form>
    <form class="d-hide" id="accelerateForm">
      {{template "accelerateForm" .}}
    </form>

    <form class="position-relative d-hide" id="orderReportForm" autocomplete="off">
      {{template "orderReportForm"}}
    </form>
  </div>

</div>
{{template "bottom"}}
{{end}}
