{{define "markets"}}
{{template "top" .}}
<div id="main" data-handler="markets" class="main m-0 flex-nowrap">
  {{- /* BODY */ -}}
  <div class="flex-grow-1 position-relative">
    <div class="stylish-overflow h-100 w-100 overflow-x-hidden flex-stretch-column">
        {{- /* MAIN CONTENT */ -}}
        <div id="mainContent" class="d-flex flex-grow-1 flex-stretch-row">
          {{- /* LEFTMOST SECTION */ -}}
          <section class="d-flex align-items-center">
            {{- /* MARKET LIST */ -}}
            <div id="leftMarketDock" class="d-flex flex-stretch-column d-hide">
              <div class="d-flex flex-stretch-column align-items-stretch border-bottom" id="searchBoxV1">
                <form class="flex-grow-1 p-1 position-relative" autocomplete="off">
                  <input type="text" id="marketSearchV1" placeholder=" " spellcheck="false" class="my-1 fs24">
                  <div class="ico-search fs24"></div>
                </form>
              </div>
              <div class="flex-stretch-column overflow-y-hidden">
                <div id="marketListV1" class="d-flex hoveronly overflow-x-hidden flex-stretch-column">
                  <div id="marketTmplV1" class="d-flex align-items-stretch p-2 border-bottom lh1 pointer hoverbg">
                    <div class="d-flex flex-column">
                      <div class="d-flex align-items-center justify-content-start flex-grow-1">
                        <img data-tmpl="baseIcon" class="small-icon">
                        <img data-tmpl="quoteIcon" class="small-icon ms-1">
                        <span class="text-danger ico-disconnected d-hide ps-1" data-tmpl="disconnectedIco"></span>
                      </div>
                    </div>
                    <div class="d-flex flex-column flex-grow-1 ps-1">
                      <span class="fs22 demi">
                        <span data-tmpl="baseSymbol"></span> / <span data-tmpl="quoteSymbol"></span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {{- /* ORDER BOOK */ -}}
            <div id="orderBook" class="d-flex flex-stretch-column">
              {{- /* SELL ORDER LIST */ -}}
              <div class="hoveronly overflow-x-hidden flex-stretch-column ordertable-wrap reversible">
                <table class="compact lh1">
                  <tbody id="sellRows"></tbody>
                </table>
              </div>

              <div id="obMidSection" class="d-flex align-items-center justify-content-center py-1 px-2">
                <span id="obExternalPrice" title="Price on external markets such as Binance" class="text-warning fs17"></span>
              </div>

              {{- /* BUY ORDER LIST */ -}}
              <div class="hoveronly overflow-x-hidden flex-stretch-column ordertable-wrap">
                <table class="compact buys lh1">
                  <tbody id="buyRows">
                    {{- /* This row is used by the app as a template. */ -}}
                    <tr id="orderRowTmpl" class="d-flex justify-content-between px-2 w-100">
                      <td class="d-flex align-items-center text-nowrap pe-2">
                        <span data-tmpl="rate" class="fs17">-</span>
                        <span data-tmpl="rateDelta" class="fs14 ps-1">(-)</span>
                        <div id="ownBookOrder" class="fs8 ms-1 d-hide" data-tmpl="ownBookOrder"></div>
                        <span class="ico-check-buy fs10 ps-1 d-hide" data-tmpl="epochBuy"></span>
                        <span class="ico-check-sell fs10 ps-1 d-hide" data-tmpl="epochSell"></span>
                      </td>
                      <td class="d-flex justify-content-end align-items-center ps-2">
                        <small class="numorders lh1 border-rounded3 text-center" data-tmpl="numOrders">-</small>
                        <div data-tmpl="qty" class="fs17 ms-2">-</div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </section>

          {{- /* MIDDLE SECTION */ -}}
          <section class="d-flex flex-stretch-column">
            {{- /* CANDLE CHART */ -}}
            <section class="d-flex flex-stretch-column">
              <div class="flex-grow-1 flex-stretch-column position-relative">
                <div id="candlesChart" class="market-chart">
                  <div id="candleDurBttnBox"><button id="candleDurBttnTemplate" class="candle-dur-bttn"></button></div>
                </div>
                <div id="chartErrMsg" class="position-absolute w-100 d-inline-flex text-danger p-2 "></div>
                <div id="candlesLegend" class="grey p-1 d-hide border-bottom border-start">
                  <div class="flex-grow-1">
                    <div class="d-flex align-items-center">
                      <span class="ico-target fs11 me-1"></span>
                      <span>
                        S: <span id="candleStart"></span>,
                        E: <span id="candleEnd"></span>,
                        L: <span id="candleLow"></span>,
                        H: <span id="candleHigh"></span>,
                        V: <span id="candleVol"></span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <section class="d-flex flex-stretch-row">
              {{- /* BUY ORDER FORM */ -}}
              <section id="orderFormBuy" class="px-1 d-hide">
                <form id="limitOrderBoxBuy" class="d-flex flex-stretch-column py-1" autocomplete="off">
                  {{- /* RATE AND QUANTITY INPUTS */ -}}
                  <div class="d-flex align-items-center order-form-input select m-1" id="priceBoxBuy">
                    <label for="rateField" class="form-label grey fs18 px-2">Price</label>
                    <input type="text" class="text-end demi fs18 p-0" id="rateFieldBuy">
                    <span class="grey demi fs18 px-2" data-quote-ticker></span>
                  </div>
                  <div class="d-flex align-items-center order-form-input select m-1" id="qtyBoxBuy">
                    <label for="qtyFieldBuy" class="form-label grey fs18 px-2">Quantity</label>
                    <input type="text" class="text-end demi fs18 p-0" id="qtyFieldBuy">
                    <span class="grey demi fs18 px-2" data-base-ticker></span>
                  </div>
                  <div id="qtySliderBuy" class="d-flex flex-stretch-column mt-3 mb-2 mx-2">
                    <input id="qtySliderBuyInput" type="range" min="0" max="1" step="0.01" list="markers" class="qty-slider">
                    <datalist id="markers">
                      <option value="0"></option>
                      <option value="0.25"></option>
                      <option value="0.5"></option>
                      <option value="0.75"></option>
                      <option value="1"></option>
                    </datalist>
                  </div>
                  <div class="d-flex flex-stretch-row m-1" id="previewTotalBuy">
                    <div id="orderTotalPreviewBuyLeft" class="d-flex align-items-center justify-content-end me-1 demi fs20"></div>
                    <span id="orderTotalPreviewBuyDelimiter" class="d-flex align-items-center mx-1 pt-0-5 fs22">⇄</span>
                    <div id="orderTotalPreviewBuyRight" class="d-flex align-items-center justify-content-start ms-1 demi fs20"></div>
                  </div>
                  <button id="submitBttnBuy" type="button" class="flex-center border pointer hoverbg border-rounded3 m-1 submit fs18 text-center buygreen-bg"></button> {{/* textContent set by script */}}
                  <div class="m-1 fs17 text-center d-hide text-danger text-break" id="orderErrBuy"></div>
                </form>
              </section>
              {{- /* SELL ORDER FORM */ -}}
              <section id="orderFormSell" class="px-1 d-hide">
                <form id="limitOrderBoxSell" class="d-flex flex-stretch-column py-1" autocomplete="off">
                  {{- /* RATE AND QUANTITY INPUTS */ -}}
                  <div class="d-flex align-items-center order-form-input select m-1" id="priceBoxSell">
                    <label for="rateField" class="form-label grey fs18 px-2">Price</label>
                    <input type="text" class="text-end demi fs18 p-0" id="rateFieldSell">
                    <span class="grey demi fs18 px-2" data-quote-ticker></span>
                  </div>
                  <div class="d-flex align-items-center order-form-input select m-1" id="qtyBoxSell">
                    <label for="qtyFieldSell" class="form-label grey fs18 px-2">Quantity</label>
                    <input type="text" class="text-end demi fs18 p-0" id="qtyFieldSell">
                    <span class="grey demi fs18 px-2" data-base-ticker></span>
                  </div>
                  <div id="qtySliderSell" class="d-flex flex-stretch-column mt-3 mb-2 mx-2">
                    <input id="qtySliderSellInput" type="range" min="0" max="1" step="0.01" list="markers" class="qty-slider">
                    <datalist id="markers">
                      <option value="0"></option>
                      <option value="0.25"></option>
                      <option value="0.5"></option>
                      <option value="0.75"></option>
                      <option value="1"></option>
                    </datalist>
                  </div>
                  <div class="d-flex flex-stretch-row m-1" id="previewTotalSell">
                    <div id="orderTotalPreviewSellLeft" class="d-flex align-items-center justify-content-end me-1 demi fs20"></div>
                    <span id="orderTotalPreviewSellDelimiter" class="d-flex align-items-center mx-1 pt-0-5 fs22">⇄</span>
                    <div id="orderTotalPreviewSellRight" class="d-flex align-items-center justify-content-start ms-1 demi fs20"></div>
                  </div>
                  <button id="submitBttnSell" type="button" class="flex-center border pointer hoverbg border-rounded3 m-1 submit fs18 text-center sellred-bg"></button> {{/* textContent set by script */}}
                  <div class="m-1 fs17 text-center d-hide text-danger text-break" id="orderErrSell"></div>
                </form>
              </section>
            </section>
          </section>

          {{- /* RIGHTMOST SECTION */ -}}
          <section class="rightmost-panel pb-3 position-relative">
            <div id="orderScroller" class="flex-stretch-column">
              {{- /* TOKEN APPROVAL */ -}}
              <div class="fs15 pt-1 pb-3 text-center border-bottom d-hide" id="tokenApproval">
                <span class="p-3 flex-center fs17 grey d-hide" id="approvalRequiredBuy">[[[approval_required_buy]]]</span>
                <span class="p-3 flex-center fs17 grey d-hide" id="approvalRequiredSell">[[[approval_required_sell]]]</span>
                <span class="p-3 flex-center fs17 grey d-hide" id="approvalRequiredBoth">[[[approval_required_both]]]</span>
                <button id="approveBaseBttn" type="button" class="go">[[[Approve]]] <span id="baseTokenAsset"></span></button>
                <div id="approvalPendingBase" class="d-hide flex-center position-relative py-2">
                  <span class="px-1" id="approvalPendingBaseSymbol"></span> [[[approval_change_pending]]] <div class="px-2 ico-spinner spinner fs15"></div>
                </div>
                <button id="approveQuoteBttn" type="button" class="go">[[[Approve]]] <span id="quoteTokenAsset"></span></button>
                <div id="approvalPendingQuote" class="d-hide flex-center position-relative py-2">
                  <span class="px-1" id="approvalPendingQuoteSymbol"></span> [[[approval_change_pending]]] <div class="px-2 ico-spinner spinner fs15"></div>
                </div>
              </div>

              <div class="fs15 pt-3 text-center d-hide" id="loaderMsg"></div>

              {{- /* CREATE ACCOUNT TO TRADE */ -}}
              <div id="notRegistered" class="d-hide">
                <div class="p-3 flex-center fs17 grey">[[[create_account_to_trade]]]</div>
                <div class="border-top border-bottom flex-center p-2">
                  <p class="text-center fs14 p-2 m-0">[[[need_to_register_msg]]]</p>
                  <button data-tmpl="registerBttn" type="button" class="text-nowrap">[[[Create Account]]]</button>
                </div>
              </div>

              {{- /* BOND CREATION PENDING */ -}}
              <div class="d-hide p-2 mt-2" id="bondCreationPending">
                <div class="p-0 w-100">
                  <div class="d-flex flex-column justify-content-center align-items-center">
                    <p class="title">[[[posting_bonds_shortly]]]</p>
                    <p>[[[bond_creation_pending_msg]]]</p>
                  </div>
                </div>
              </div>

              {{- /* REGISTRATION STATUS */ -}}
              <div class="d-hide p-2 mt-2" id="registrationStatus">
                <div class="p-0 w-100">
                  <div class="d-flex flex-column justify-content-center align-items-center">
                    <span id="regStatusTitle" class="title"></span>
                    <p id="regStatusMessage">[[[reg_status_msg]]]
                    </p>
                    <span id="regStatusConfsDisplay"></span>
                  </div>
                </div>
              </div>

              {{- /* BOND REQUIRED TO TRADE */ -}}
              <div class="d-hide p-2 mt-2" id="bondRequired">
                <div class="p-3 flex-center fs17 grey">[[[action_required_to_trade]]]</div>
                <div class="border-top border-bottom flex-center p-2">
                  <p class="text-center fs14 p-2 m-0">
                  [[[acct_tier_post_bond]]]
                  <a id="dexSettingsLink" class="fs15 hoverbg subtlelink">[[[enable_bond_maintenance]]]</a>
                  </p>
                </div>
              </div>

              {{- /* WALLET RELATED ERRORS */ -}}
              <div id="noWallet" class="p-3 border-bottom flex-center fs17 grey d-hide"></div>

              {{- /* REPUTATION */ -}}
              <div id="reputationAndTradingTierBox">
                <div id="showTradingTier" class="p-2 grey fs15 hoverbg pointer">
                  <span class="ico-plus fs10 me-2"></span>
                  <span>[[[Show trading tier info]]]</span>
                </div>
                <div id="hideTradingTier" class="p-2 grey fs15 hoverbg pointer d-hide">
                  <span class="ico-minus fs10 me-2"></span>
                  <span>[[[Hide trading tier info]]]</span>
                </div>
                <div id="tradingLimits" class="d-flex flex-stretch-column fs15 mx-2 mb-2 border d-hide">
                  <div class="d-flex flex-column flex-grow-1 align-items-stretch p-1 border-bottom">
                    <div class="d-flex justify-content-between align-items-center">
                      <span>[[[Parcel Size]]]</span>
                      <span>
                        <span id="parcelSizeLots"></span> <span>[[[lots]]]</span>
                      </span>
                    </div>

                    <div class="d-flex justify-content-between align-items-center">
                      <span><!-- Parcel Size Base --></span>
                      <span>
                        <span id="marketLimitBase"></span> <span id="marketLimitBaseUnit"></span>
                      </span>
                    </div>

                    <div class="d-flex justify-content-between align-items-center">
                      <span><!-- Parcel Size Quote --></span>
                      <span>
                        ~ <span id="marketLimitQuote"></span> <span id="marketLimitQuoteUnit"></span>
                      </span>
                    </div>
                  </div>
                  <div class="d-flex flex-column flex-grow-1 align-items-stretch p-1">
                    <div class="d-flex justify-content-between align-items-center">
                      <span>[[[Trading Tier]]]</span>
                      <span id="tradingTier"></span>
                    </div>

                    <div class="d-flex justify-content-between align-items-center">
                      <span>[[[Trading Limit]]]</span>
                      <span><span id="tradingLimit"></span> lots</span>
                    </div>

                    <div class="d-flex justify-content-between align-items-center">
                      <span>[[[Current Usage]]]</span>
                      <span><span id="limitUsage"></span>%</span>
                    </div>
                  </div>
                </div>
                <div id="showTradingReputation" class="p-2 grey fs15 hoverbg pointer">
                  <span class="ico-plus fs10 me-2"></span>
                  <span>[[[Show reputation]]]</span>
                </div>
                <div id="hideTradingReputation" class="p-2 grey fs15 hoverbg pointer d-hide">
                  <span class="ico-minus fs10 me-2"></span>
                  <span>[[[Hide reputation]]]</span>
                </div>
                <div id="reputationMeter" class="px-3 mb-3 border-bottom d-hide">
                  {{template "reputationMeter"}}
                </div>
              </div>

              {{- /* USER ORDER TEMPLATE */ -}}
              <div id="userOrderTmpl" class="user-order border-top border-bottom">
                <div data-tmpl="header" class="user-order-header pointer">
                  <div data-tmpl="sideLight" class="side-indicator"></div>
                  <span data-tmpl="side" class="fs16"></span>
                  <span data-tmpl="qty" class="ms-1 fs16"></span>
                  <span data-tmpl="baseSymbol" class="ms-1 grey fs16"></span>
                  <span data-tmpl="rate" class="ms-1 fs16"></span>
                  <span class="flex-grow-1 d-flex align-items-center justify-content-end">
                    <span data-tmpl="status" class="fs16"></span>
                  </span>
                  <!-- <span class="fs11 ico-open ms-2"></span> -->
                </div>
                <div data-tmpl="details" class="order-details border-top border-bottom d-hide">
                  <div class="user-order-datum full-span d-flex flex-row justify-content-start align-items-center border-bottom fs14">
                    <span data-tmpl="cancelBttn" class="ico-cross pointer hoverbg fs11 d-hide py-2 px-3 mx-1" data-tooltip="[[[cancel_order]]]"></span>
                    <a data-tmpl="link" class="ico-open pointer hoverbg fs13 plainlink py-2 px-3 ms-1" data-tooltip="[[[order details]]]"></a>
                  </div>
                  <div class="user-order-datum fs15">
                    <span>[[[Type]]]</span>
                    <span data-tmpl="type"></span>
                  </div>
                  <div class="user-order-datum fs15">
                    <span>[[[Side]]]</span>
                    <span data-tmpl="side"></span>
                  </div>
                  <div class="user-order-datum fs15">
                    <span>[[[Status]]]</span>
                    <span data-tmpl="status"></span>
                  </div>
                  <div class="user-order-datum fs15">
                    <span>[[[Age]]]</span>
                    <span data-tmpl="age"></span>
                  </div>
                  <div class="user-order-datum fs15">
                    <span>[[[Quantity]]]</span>
                    <span data-tmpl="qty"></span>
                  </div>
                  <div class="user-order-datum fs15">
                    <span>[[[Rate]]]</span>
                    <span data-tmpl="rate"></span>
                  </div>
                  <div class="user-order-datum fs15">
                    <span>[[[Filled]]]</span>
                    <span data-tmpl="filled"></span>
                  </div>
                  <div class="user-order-datum fs15">
                    <span>[[[Settled]]]</span>
                    <span data-tmpl="settled"></span>
                  </div>
                </div>
              </div>
              {{- /* END USER ORDER TEMPLATE */ -}}

              {{- /* OPEN ORDERS */ -}}
              <div class="my-1 border-top">
                <div class="text-center demi fs20 p-1">[[[Open Orders]]]</div>
                <div id="unreadyOrdersMsg" class="d-hide px-3 flex-center fs15 p-1 border-bottom text-danger">[[[unready_wallets_msg]]]</div>
                <div id="recentlyActiveNoUserOrders" class="flex-center fs15 pb-1 border-bottom grey">no recent activity</div>
                <div id="recentlyActiveUserOrders" class="mb-1"></div>
              </div>
              {{- /* END OPEN ORDERS */ -}}
              {{- /* COMPLETED ORDERS */ -}}
              <div class="my-1 border-top">
                <div class="text-center demi fs20 p-1">[[[Completed Orders]]]</div>
                <div id="completedOrderHistoryDurBttnBox" class="d-flex flex-stretch-row justify-content-between px-2 pb-2">
                  <button id="completedOrderDurBttnTemplate" class="completed-order-dur-bttn fs15 px-1 grey"></button>
                </div>
                <div id="completedNoUserOrders" class="flex-center fs15 pb-1 grey">no past history for this period</div>
                <div id="completedUserOrders" class="mb-1"></div>
              </div>
              {{- /* END COMPLETED ORDERS */ -}}
              {{- /* RECENT MATCHES */ -}}
              <div id=recentMatchesBox class="flex-stretch-column my-1 border-top">
                <div class="text-center demi fs20 p-1">[[[Recent Matches]]]</div>
                <table id="recentMatchesTable" class="row-border row-hover lh1 border-bottom">
                  <thead>
                    <tr class="pointer">
                      <th data-ordercol="price" class="text-start text-nowrap grey">
                        <span id="priceHdr"></span>
                        <span class="ico-arrowdown"></span>
                      </th>
                      <th data-ordercol="qty" class="text-end text-nowrap grey">
                        <span class="ico-arrowdown"></span>
                        <span id="qtyHdr"></span>
                      </th>
                      <th data-ordercol="age" class="text-end text-nowrap grey">
                        <span class="ico-arrowdown"></span>
                        <span id="ageHdr"></span>
                      </th>
                    </tr>
                  </thead>
                  <tbody id="recentMatchesLiveList">
                    <tr id="recentMatchesTemplate">
                      <td data-tmpl="price" class="text-start fs17"></td>
                      <td data-tmpl="qty" class="text-end fs17"></td>
                      <td data-tmpl="age" class="preserve-spaces text-end fs17"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              {{- /* END RECENT MATCHES */ -}}
            </div>
          </section>
        </div>
    </div>
  </div>{{- /* END MAIN CONTENT */ -}}

  {{- /* POP-UP FORMS */ -}}
  <div id="forms" class="d-hide">

    {{- /* DEPOSIT ADDRESS */ -}}
    <form class="mw-425 d-hide" id="deposit">
      {{template "depositAddress"}}
    </form>

    {{- /* NEW WALLET */ -}}
    <form class="m-auto d-hide" id="newWalletForm" autocomplete="off">
      {{template "newWalletForm"}}
    </form>

    {{- /* TOGGLE WALLET STATUS AUTHORIZATION */ -}}
    <form class="d-hide" id="toggleWalletStatusConfirm">
      {{template "toggleWalletStatusConfirm"}}
    </form>

    {{- /* VERIFY FORM */ -}}
    <form class="position-relative d-hide" id="verifyForm" autocomplete="off">
      <div class="form-closer"><span class="ico-cross"></span></div>
      <header class="fs18 buygreen-bg" id="vHeader">
        <span id="vBuySell" class="me-2"></span> <span data-base-ticker></span>
      </header>
      <div class="d-flex justify-content-between align-items-center fs14">
        <span id="vOrderType" class="grey"></span>
        <span id="vOrderHost" class="grey"></span>
      </div>

      {{- /* Price, Spend, Get Section */ -}}
      <div id="verifyLimit">
        <div class="d-flex align-items-center justify-content-between">
          <span class="grey fs18 flex-grow-1 text-start">[[[:title:price]]]</span>
          <span id="vRate" class="fs18 demi"></span>
          <span class="grey fs18 ms-2">
            <sup data-quote-ticker></sup>/<sub data-base-ticker></sub>
          </span>
        </div>
        <div class="d-flex align-items-center mt-1">
          <span class="grey fs18 flex-grow-1 text-start">[[[You Spend]]]</span>
          <span id="youSpend" class="fs18 demi"></span>
          <span id="youSpendTicker" class="grey fs18 ms-2"></span>
        </div>
        <div class="d-flex align-items-center mt-1">
          <span class="grey fs18 flex-grow-1 text-start">[[[You Get]]]</span>
          <span id="youGet" class="fs18 demi"></span>
          <span id="youGetTicker" class="grey fs18 ms-2"></span>
        </div>
        <span class="d-flex d-hide justify-content-end grey fs14">
        ~<span id="vFiatTotal" class="mx-1"></span>USD
        </span>
      </div>

      <div class="flex-stretch-column">
        <button id="vSubmit" class="justify-content-center fs18 go sellred-bg">
          <span id="vSideSubmit"></span>
          <span data-base-ticker></span>
        </button>
        <div id="vLoader" class="loader flex-center d-hide">
          <div class="ico-spinner spinner"></div>
        </div>
      </div>

      <div class="fs17 p-3 text-center d-hide text-danger text-break" id="vErr"></div>{{- /* End Auth Section */ -}}

      <div id="disclaimer" class="disclaimer fs17 pt-3 mt-3 border-top">
        [[[order_disclaimer]]]
      </div>
      <div id="disclaimerAck" class="d-flex align-items-center grey text-center pointer hoverbg fs17">
        <span class="ico-check fs12 me-1"></span>
        <span>[[[acknowledge_and_hide]]]</span>
      </div>
      <div id="showDisclaimer" class="d-flex align-items-center grey text-center pointer hoverbg fs17 d-hide">
        <span class="ico-plus fs8 me-1 mt-1"></span>
        <span>[[[show_disclaimer]]]</span>
      </div>
    </form>

    <form id="approveTokenForm" class="position-relative flex-center flex-column fs20 d-hide">
      {{template "tokenApprovalForm"}}
    </form>

    <form class="position-relative d-hide" id="orderReportForm" autocomplete="off">
      {{template "orderReportForm"}}
    </form>
  </div>

</div>
{{template "bottom"}}
{{end}}
