@import "mixins";

div[data-handler=markets] {
  .ordertable-wrap {
    width: 100%;

    &:first-child {
      @include border-bottom;
    }

    &:last-child {
      @include border-top;
    }

    tbody#sellRows {
      @include border-top;
    }
  }

  #orderFormBuy,
  #orderFormSell {
    .disabled {
      pointer-events: none;
      opacity: 0.4;
    }

    input {
      height: 30px;
      border-radius: 0;
      font-size: 14px;
      font-weight: bold;
      background-color: var(--section-bg);

      &:hover,
      &.selected {
        border: 1px solid var(--border-color);
      }
    }

    span.unitbox {
      position: absolute;
      font-size: 14px;
      font-weight: bold;
      right: 5px;
      top: 48%; // Looks better than 50 for some reason.
      transform: translateY(-50%);
      white-space: nowrap;
    }

    button {
      opacity: 0.95;
      padding: 5px 25px;
      border-radius: 3px;
      background-color: var(--section-bg);
      color: var(--market-btn-selected-color);

      &:hover,
      &.selected {
        opacity: 1;
      }

      &:disabled {
        pointer-events: auto; // can't use none because it will not show "title" message
        opacity: 0.4;
      }
    }

    button.selected,
    button.submit {
      &.buygreen-bg {
        background-color: var(--market-buygreen-bg);
      }

      &.sellred-bg {
        background-color: var(--market-sellred-bg);
      }
    }

    #orderTotalPreviewBuyLeft {
      color: var(--sell-color);
    }

    #orderTotalPreviewBuyRight {
      color: var(--buy-color);
    }

    #orderTotalPreviewSellLeft {
      color: var(--sell-color);
    }

    #orderTotalPreviewSellRight {
      color: var(--buy-color);
    }
  }

  .rightmost-panel {
    .ico-unlocked {
      color: $success;
    }

    .ico-disconnected {
      color: var(--text-warning);
    }
  }

  .market-chart {
    @extend .flex-center;

    flex-grow: 1;
    position: relative;
    min-width: 100px; // Letting it go to zero can be problematic, causing some major cpu during chart calcs

    canvas {
      position: absolute;
      left: 0;
      top: 0;
      user-select: none;
    }
  }

  #unreadyOrdersMsg {
    color: $danger;
  }

  .unready-user-order {
    background-color: #6e0909;
  }

  .user-order {
    &:not(:last-child) {
      border-bottom-style: none !important;
    }

    &:last-child .order-details {
      border-bottom-style: none !important;
      padding-bottom: 0;
    }

    .user-order-header {
      @extend .flex-center;

      padding: 5px 10px 5px 20px;
      font-size: 14px;
      position: relative;
      // border: 1px solid grey;

      .side-indicator {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 8px;

        &.buy {
          background-color: var(--buy-color);
        }

        &.sell {
          background-color: var(--market-sell-color);
        }

        &.inactive {
          opacity: 0.5;
        }
      }

      .active-indicator {
        height: 8px;
        border-radius: 4px;

        &.active {
          margin: 0 5px;
          width: 8px;
          background-color: var(--buy-color);
        }
      }
    }

    .order-details {
      margin-bottom: 25px;
      padding: 0 10px 10px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      row-gap: 10px;
      column-gap: 5px;
      line-height: 1;

      .user-order-datum {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        & > span:first-child {
          font-size: 12px;
          font-family: $demi-sans;
          color: grey;
          margin-bottom: 2px;
        }

        & > span:nth-child(2) {
          font-size: 14px;
        }

        &.full-span {
          grid-column: 1 / -1;
        }
      }
    }
  }

  .numorders {
    background-color: var(--market-numorders-bg);
    padding: 1px 2px;
  }

  #leftMarketDock {
    display: flex;
    z-index: 2;
    min-height: -webkit-fill-available; // for webkit browsers
    min-width: 150px; // hack to prevent leftMarketDock from collapsing when there is no content to show
    background-color: var(--section-bg);

    #searchBoxV1 {
      height: 55px;
    }

    #marketSearchV1:focus {
      border: none;
      outline: none;
    }

    #marketSearchV1 {
      @extend .fill-abs;

      width: 100%; // firefox needs, for some reason
      z-index: 2;
      background-color: transparent;
      text-align: center;
      font-family: $demi-sans;
      font-variant: small-caps;
      border: none;

      & + .ico-search {
        position: absolute;
        z-index: 1;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        opacity: 0.25;
      }

      &:hover + .ico-search {
        opacity: 0.5;
      }

      &:not(:placeholder-shown) + .ico-search,
      &:focus + .ico-search {
        display: none;
      }
    }

    #marketListV1 {
      height: 100%;

      & > div {
        &.selected {
          background-color: #7773;
        }
      }
    }
  }

  #mainContent {
    & > section {
      &:first-child { // leftmost section
        order: 1;
        flex-basis: 18%; /* width/height - depending on flex-direction */
      }

      &:nth-child(2) { // middle section
        order: 2;
        flex-basis: 57%; /* width/height - depending on flex-direction */

        & > section {
          &:first-child { // candle chart
            order: 1;
            flex-basis: 68%; /* width/height - depending on flex-direction */
          }

          &:last-child { // rightmost section
            order: 2;
            flex-basis: 32%; /* width/height - depending on flex-direction */

            & > section {
              &:first-child { // buy form
                order: 1;
                flex-basis: 50%; /* width/height - depending on flex-direction */
              }

              &:last-child { // sell form
                order: 2;
                flex-basis: 50%; /* width/height - depending on flex-direction */
              }
            }
          }
        }
      }

      &:last-child { // user orders, recent matches
        order: 3;
        flex-basis: 25%; /* width/height - depending on flex-direction */
      }
    }

    #leftMarketDock,
    #orderBook {
      width: 100%;
      height: 100%;
    }
  }

  #durBttnBox {
    position: absolute;
    left: 65px;
    top: 5px;
    background-color: var(--section-bg);
    z-index: 1;

    .candle-dur-bttn {
      background-color: var(--section-bg);
      padding: 2px 4px;
      font-size: 14px;
      line-height: 1;
      margin: 0 2px;

      &:hover {
        background-color: #7777;
      }

      &:hover,
      &.selected {
        border-color: var(--text-warning);
        color: var(--text-warning);
      }
    }
  }

  #loaderMsg {
    color: #777;
  }

  #bondCreationPending {
    .title {
      font-weight: bold;
      margin-bottom: 5px;
      color: #9b8c09;
    }
  }

  #registrationStatus {
    .title {
      font-weight: bold;
      margin-bottom: 5px;
    }

    &.waiting {
      .title {
        color: #9b8c09;
      }
    }

    &.completed {
      .title {
        color: $success;
      }

      #regStatusMessage {
        display: none;
      }
    }

    &.error {
      .title {
        color: $danger;
      }
    }
  }

  #approveTokenForm {
    width: 450px;
  }

  #verifyForm {
    .echo-data span {
      margin: 0 5px;
    }

    .disclaimer {
      text-align: justify;
    }

    header {
      &.buygreen-bg {
        background-color: var(--market-buygreen-bg);
      }

      &.sellred-bg {
        background-color: var(--market-sellred-bg);
      }
    }

    button {
      &.buygreen-bg {
        background-color: var(--market-buygreen-bg);
      }

      &.sellred-bg {
        background-color: var(--market-sellred-bg);
      }
    }

    .loader {
      height: 40px;
    }

    #youSpend {
      color: var(--sell-color);
    }

    #youGet {
      color: var(--buy-color);
    }
  }
}

.market-stats {
  display: flex;
  margin: 0 5px;
  gap: 15px;

  .statgrid {
    display: grid;
    grid-template-columns: auto auto auto;
  }

  #fiatPrice {
    color: var(--text-warning);
  }
}

#headerSpace .market-stats {
  display: none;
}

#recentMatchesBox {
  @extend .stylish-overflow;

  max-height: 350px;
}

#recentMatchesTable {
  th {
    align-items: center;

    &:hover {
      opacity: 0.7;
    }

    .ico-arrowdown {
      display: inline-block;
      visibility: hidden;
      vertical-align: middle;
      font-size: 10px;
      margin-left: 5px;
    }

    &.sorted-dsc {
      .ico-arrowdown {
        visibility: visible;
      }
    }

    &.sorted-asc {
      .ico-arrowdown {
        visibility: visible;
        transform: rotate(180deg);
      }
    }
  }
}

@include media-breakpoint-up(xl) {
  #main .market-stats {
    display: none;
    border-top: none;
  }

  #headerSpace .market-stats {
    display: flex;
    border-bottom: none !important;
  }
}

@include media-breakpoint-up(lg) {
  div[data-handler=markets] {
    .ordertable-wrap {
      height: calc(50% - 15px);
      display: flex;

      &.reversible {
        flex-direction: column-reverse;
      }

      tbody {
        display: flex;
        align-items: stretch;
      }

      tbody#sellRows {
        flex-direction: column-reverse;
        border-top: none;
      }

      tbody#buyRows {
        flex-direction: column;
      }
    }

    .rightmost-panel {
      & > div {
        @include fill-abs;
        @include stylish-overflow;

        height: 100%;
        overflow-x: hidden;
      }
    }
  }

  #recentMatchesBox {
    overflow: visible;
    max-height: none;
    border-bottom: none;
  }

  #candlesLegend {
    z-index: 10;
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--section-bg);
  }
}

.user-order-floaty-menu {
  position: absolute;
  display: flex;
  align-items: center;
  z-index: 5;
  border-style: none solid solid;
  border-width: 0 2px 2px 1px;
  border-color: var(--border-color);
  background-color: var(--section-bg);
  cursor: pointer;
  overflow: hidden;

  & > span,
  & > a {
    margin: 0 5px;
    padding-right: 10px;
    padding-left: 10px;

    &:hover {
      background-color: #7775;
    }
  }
}

.bot-problems-section {
  background-color: #f00a;
  margin-top: 2px;
  margin-bottom: 2px;
  padding-left: 2px;
  border-radius: 5px;
}
